*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    
}

.top-site{
 flex-direction: row;
 /* background-color: brown; */
 width: 100%;
 height: calc(100vh - 50px);
}

.col-right{
    flex-direction: column;
    width: 85%;
    height: 100%;
}


.col-left{
    width: 15%;
    height: 100%;
}


.banner{
    background-color: rgb(122, 0, 0);
    flex-basis: 50px;
}

.nav{
    flex-basis: 100%;
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 50px);
}


.main{
    background-color: rgb(3, 185, 19);
    flex-basis: calc(100vh - 100px);
}

.player{
    width: 100%;
    background-color: rgb(12, 0, 122);
    height: 50px;
}