*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --height-topside:calc(100vh - var(--height-bar));
    --height-bar: 80px;
    --font-color: #A3A3A3;
    --width-header-xs:70px;
    
}
html{
    color: white;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.flex{
    display: flex;
    
}
 
.column{
    flex-direction: column;
}
.site{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}
.hov-item{
    opacity: .7;
}
.hov-item:hover{
    opacity: 1;
    cursor: pointer;
}

/* header */
header{
    flex:0 0 250px;
    background-color: rgb(0, 0, 0);
    height: var(--height-topside);
    padding-left: 1.2em;
    color: white
}
/* colonna nav */
.logo{
    width: 8em;
    padding: 1em 0;
}
.logo-small{
    display: none;
}
header .nav-item{
    align-items: center;
}
header li{
    font-size: 14px;
    align-items: center;
}
.icon{
    width: 2.5em;
    padding: .5em .5em .5em 0;
}

/* playlist */

header h3{
    padding: 1rem 0;
    font-size: 16px;
}

header i{
    font-size: 3em;
    padding-right: .5rem;
}

.playlist{
    margin: 1.3em 0;
    height: 200px;
    overflow-y: auto;
}
.playlist > li{
    padding: .5em 0;
}

/* profilo utente */
.profile{
    margin-right:1.2em;
    flex: 1 1 auto;
    justify-content: flex-end;
    flex-direction: column;
}
.profile .install, 
.profile .user-container {
    margin: .7em 0 ;
}
.install{
    font-size: 12px;
    align-items: center;
    color: white;
}
.user-container{
    align-items: center;
}

.profile img,
.img-container{
    width: 1.5em;
    margin-right: 1em;
}

.line{
    width: 100%;
    border: 1px solid var(--font-color);
}
.img-container{
    background-color: #808080;
    border-radius: 50%;
    overflow: hidden;
    height: 1.5em;
}
.user-container > span{
    color: white;
}

/* Banner */
.banner{
    background-color: rgba(0, 0, 0, .4);
    height: var(--height-bar);
    width:calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 1em 2.5em;
    border-radius: 30px;
    text-transform:uppercase;
    font-size: 14px;
    margin-right: 2rem;
}

.btn:hover{
    padding: 1.2em 2.7em;
}
/* main page */

/* nav bar */
main{
    background-color: #141922;
    height: var(--height-topside);
    flex:1 1 0;
    padding:calc(1em + var(--height-bar)) 2em;
    color: var(--font-color);
    overflow-y: auto;
}
.nav{
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.nav > li{
    margin: .5em .8em;
    text-transform: uppercase;
    color: var(--font-color);
}

.nav > li:hover{
    color: white;
    cursor: pointer;
}
.nav-line{
    width: 40px;
    border: 1px solid #ADFF2F;
    align-self: center;
}
/* Scelta album */
main h2{
    color: white;
    padding: .7em 0;
}

.track-played{
    padding: 1em 0;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    
}
.track-item{
    width: calc(100% / 6 - 1em);
    margin: 0 1em 2em 0;
    flex-direction: column;
    text-align: center;
    color: white;  
}

.img-track{
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom:1.3em ;
}
.img-track > img{
    object-fit: contain;
    width: 100%;
}
.track-item .title{
    font-size: 18px;
    color: white;
}

.track-item > span{
    font-size: .8em;
    padding: .4rem 0;
    color: var(--font-color);
    
}
.subtitle{
    font-size: 12px;
    color: var(--font-color);
    
}
.circle{
    border-radius: 50%;
}
.track-item i{
    display: none ;
    font-size: 4em;
    position: absolute;
    justify-self: center;
}
.track-item:hover img{
    filter: brightness(.6);
} 
.track-item:hover i{
    display: block;
    z-index: 1;
}


/* cambio dispositivi */
@media screen and (max-width:1100px) and (min-width:701px){
    .track-item{
        width: calc(100% / 4 - 1em);
    }
}
@media screen and (max-width:700px){
    .track-item{
        width: calc(100% / 2 - 1em);
    }
}
@media screen and (max-width:600px){
    .hidden-menu{
        display: none;
    }
    header{
        flex:0 0 var(--width-header-xs);
        margin-right: 0;
    }
    header li{
        font-size: 20px;
    }
    .banner{
        width: calc(100% - var(--width-header-xs));
    }
    .logo-small{
        display: block;
        width: 40px;
        margin: 1em 0;
    }
    .img-container{
        width: 2.5em;
        height: 2.5em;
        margin: auto;
    }
    .profile img{
        width: 2.5em;
        margin: auto;
    }
    .currently-played{
        display: none;
    }
    .current-song{
        margin-left: 15px;
    }

}


/* footer */

.player{
    justify-content: space-between;
    width: 100%;
    background-color: #282828;
    height: var(--height-bar);
    position: sticky;
    overflow-x: auto;
}

.player-container{
    display: flex;
    align-items: center;    
}

.left{
    flex: 0 1 250px;
    min-width: 200px;
}
.right{
    flex: 0 1 250px;
    min-width: 200px;
}

.currently-played{
    flex: 0 1 50px;
    margin:0 15px;
}
.currently-played > img{
    width: 100%;
}

.current-song{
    flex: 1 1 0;
    font-size: 12px;
    flex-direction: column;
}
.artist{
    font-size: .8em;
    color: var(--font-color);
}
.player-icon{
    flex: 1 1 0;
}
.player-container i{
    margin: 0 .5em;
    font-size: .8em;
}
.center{
   flex-direction: column; 
   justify-content: space-evenly;
   flex: 0 1 500px;
   min-width: 270px;
}
.media-player{
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.media-player i{
    flex: 0 1 0;
}
.media-player .fa-play-circle{
    font-size: 2em;
}
.media-player .fa-play-circle:hover{
    font-size: 2.2em;
}
.song-bar{
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.time-bar{
    flex: 0 1 80%;
    height: 3px;
    position: relative;
}
.total-time{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    opacity: .4;
    position: absolute;
}
.current-time{
    background-color: white;
    height: 3px;
    border-radius: 4px;
    width: 25%;
    opacity: 1;
    position: absolute;
}

.current-time::after{
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(0, -50%);
    display: none;
}

.time-bar:hover .current-time::after{
    display: inline-block;
}
.time-bar:hover .current-time{
    background-color: #ADFF2F;
}
.time{
    font-size: .6em;
    
}
.right .time-bar{
    margin: 0 15px;
}